<tr>
    <td style="width: 57px; height: 28px;">
        <a href="https://book.douban.com/subject_search?search_text=<%= otherlink.isbn %>&cat=1001"  target="_blank">
            豆瓣中查看该图书
        </a>
    </td>
    <td style="width: 57px; height: 28px;">
        <a href="https://play.google.com/store/search?q=<%= otherlink.isbn %>&c=books"  target="_blank">
            谷歌图书中查看该图书
        </a>
    </td>
    <td style="width: 57px; height: 28px;">
        <a href="http://www.zhizhen.com/s?sw=<%= otherlink.isbn %>"  target="_blank">
            超星发现中查看该图书
        </a>
    </td>
</tr>
